@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');
* {
  padding: 0;
  color: black;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-size: 20px;
  box-sizing: border-box;
  background-color: whitesmoke;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}
:root {
  --primColor: #dcdcdc;
  --secoColor: #555555;
  --cornerRad: 4px;
}


/*inicio main */


.main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  height: auto;
  flex-wrap: wrap;
}
.main .cards {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 400px;
  height: 400px;
  margin-top: 40px;
  padding-top: 40px;
}
.main .cards .cards_item {
  display: flex;
  width: 80%;
  height: auto;
  padding: 1rem;
}
.main .cards .cards_item .card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.main .cards .cards_item .card .card_image {
  position: relative;
  max-height: 250px;
}
.main .cards .cards_item .card .card_image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 2px;
}
.main .cards .cards_item .card .card_image .compra-btn {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 0.25rem;
  background-color: #c89b3f;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.main .cards .cards_item .card .card_image .compra-btn span {
  font-size: 12px;
  margin-top: -2px;
}
.main .cards .cards_item .card .card_content {
  position: relative;
  padding: 16px 12px 12px 14px;
  margin: 16px 8px 8px 0;
  max-height: 290px;
  overflow-y: scroll;
}
.main .cards .cards_item .card .card_content::-webkit-scrollbar {
  width: 8px;
}
.main .cards .cards_item .card .card_content::-webkit-scrollbar-track {
  box-shadow: 0;
  border-radius: 0;
}
.main .cards .cards_item .card .card_content::-webkit-scrollbar-thumb {
  background: #c89b3f;
  border-radius: 15px;
}
.main .cards .cards_item .card .card_content .card_title {
  display: flex;
  justify-content: center;
  margin: 0 0 18px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.main .cards .cards_item .card .card_content .card_title::after {
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c89b3f;
  content: "";
}
.main .cards .cards_item .card hr {
  margin: 24px auto;
  width: 50px;
  border-top: 2px solid #c89b3f;
}
.main .cards .cards_item .card .card_text {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.main .cards .cards_item .card .card_text .card_text p {
  margin: 0 0 24px;
  font-size: 14px;
  line-height: 1.5;
}
.main .cards .cards_item .card .card_text .card_text p:last-child {
  margin: 0;
}
@media (max-width: 992px) {
  .main{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .cards{
    display: flex;
    width: 100%;
    height: auto;
  }
  .cards_item {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    padding: 0;
  }
}

/* fin main */

/* inicio footer */

.footer-clean {
  padding: 50px 0;
  background-color: #fff;
  color: #4b4c4d;
}
.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}
.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}
.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer-clean ul a:hover {
  opacity: 1;
}
.footer-clean .item.social {
  text-align: right;
}
.footer-clean .item.social .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}
@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}
.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}
.footer-clean .item.social > a:hover {
  opacity: 0.9;
}
@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

/* fin footer */

/* carrito */

.carrito{
  display: flex;
  position: fixed;
  width: 50%;
  height: auto;
  top: 5rem;
  z-index: 1;
}
.carrito ul{
  display: flex;
  width: 100%;
  margin: 0;
  font-size: 30px;
  color: #c89b3f;
  padding: 0 15px;
}
.carrito ul li i{
  cursor: pointer;
  color: #c89b3f;
}
.container-icon{
  position: relative;
}
.count-products{
  position: absolute;
  top: 55%;
  right: 0;
  background-color: #000;
  color: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
#contador-productos{
  font-size: 12px;
}
.misProductos{
  display: none;
  position: fixed;
  flex-direction: column;
  z-index: 10;
  top: 8rem;
  gap: 20px;
  left: 10px;
  background-color: #f8f6f6e1;
  padding: 20px;
  height: auto;
}
.misProductos nav{
  display: flex;
  flex-direction: column;
  width: 400px;
}
.misProductos nav ul{
  display: flex;
  justify-content: space-evenly;
}
.misBtn{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.misBtn p{
  margin: 0;
}

.btn{
font-family: 'Lato';
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #c89b3f;
padding: 6px 16px;
border: 2px solid #c89b3f;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 20px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
text-transform: uppercase;
}

.btn:hover{
background-color: #fff;
color: #c89b3f;
border: solid 2px #c89b3f;
}
