.navbar{
    .container-fluid{
        .navbar-brand{
            font-size: 30px;
            font-family: 'Noto Serif', serif;
            background: radial-gradient(circle, #B8860B 0%, #DEB887 36%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .navbar-toggler{
            border: 2px solid #B8860B;
        }
        .offcanvas{
            .offcanvas-header{
                .offcanvas-title{
                    font-size: 30px;
                    background: radial-gradient(circle, #B8860B 0%, #DEB887 36%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            .offcanvas-body{
                form{
                    .btn-success{
                        border: #FFE4C4;
                        background-color: #DEB887;
                    }
                }
            }
        }
    }
}