@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
*{
    font-family: 'EB Garamond', serif;
    padding: 0;
    color: black;
    margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}