
// tipografias
$Fontitulo: 'Inspiration', cursive;
$Fontitulo1: 'Inconsolata', monospace;
$p2: 'Roboto', sans-serif;



// size
$h1: 27px;
$h2: 40px;
$fontBar: 19px;
$p: 18px;


// colore
$color: #ffffff;
$h1gradiant: linear-gradient(to bottom right, rgb(213, 121, 121), rgb(62, 60, 60));